<div class="dt js-dt">
	<div class="dtc js-dtc">
		<div class="simply-countdown-one animate-box" data-animate-effect="fadeInUp"></div>

		<div class="row">
			<div class="col-md-12">
				<div class="fh5co-intro animate-box">
					<ul>
						<li>
							<h2>R$ {{price}}</h2>
							<p>Faturamento atual, baseado nos pedidos aprovados vindo do Pagar.me.</p>
						</li>
						<li>
							<h2>{{products}}</h2>
							<p>Quantidade de cursos vendidos até o momento.</p>
						</li>
						<li>
							<h3>Pedidos</h3>
							<table class="table table-striped table-hover">
								<tr>
									<th>#</th>
									<th>Quantidade</th>
									<th>Valor total</th>
								</tr>
								<tr>
									<th>Pago</th>
									<td>2</td>
									<td>R$ 2,00</td>
								</tr>
								<tr>
									<th>Aguardando Pagamento</th>
									<td>2</td>
									<td>R$ 2,00</td>
								</tr>
								<tr>
									<th>Cancelado</th>
									<td>2</td>
									<td>R$ 2,00</td>
								</tr>
							</table>
						</li>
					</ul>
				</div>
			</div>
		</div>

	</div>
</div>
