<aside id="fh5co-aside" role="sidebar" class="text-center" style="background-image: url(assets/images/img_bg_1_gradient.jpg);">
	<h1 id="fh5co-logo">KONTINU</h1>
	<hr>
	<img src="https://cers.com.br/assets/images/intro/logo.svg" alt="CERS">


    <div id="fh5co-footer">
        <div class="row">
            <div class="col-md-12 fh5co-copyright">
                <p>Developed by <a href="http://willfelix.github.io/" target="_blank">Will Felix</a></p>
            </div>
        </div>
    </div>
</aside>
