<table class="table table-hover">
	<thead>
		<tr>
			<th>Aluno</th>
			<th>Classe</th>
			<th>IP</th>
			<th>Exceção</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Willams Felix da Cruz</td>
			<td>br.com.cers.services.ejb.import.Product.java (134)</td>
			<td>192.168.3.50</td>
			<td>O baguiiu vais er muito loko ta ligado?</td>
		</tr>
		<tr>
			<td>Willams Felix da Cruz</td>
			<td>br.com.cers.services.ejb.import.Product.java (134)</td>
			<td>192.168.3.50</td>
			<td>O baguiiu vais er muito loko ta ligado?</td>
		</tr>
		<tr>
			<td>Willams Felix da Cruz</td>
			<td>br.com.cers.services.ejb.import.Product.java (134)</td>
			<td>192.168.3.50</td>
			<td>O baguiiu vais er muito loko ta ligado?</td>
		</tr>
		<tr>
			<td>Willams Felix da Cruz</td>
			<td>br.com.cers.services.ejb.import.Product.java (134)</td>
			<td>192.168.3.50</td>
			<td>O baguiiu vais er muito loko ta ligado?</td>
		</tr>
		<tr>
			<td>Willams Felix da Cruz</td>
			<td>br.com.cers.services.ejb.import.Product.java (134)</td>
			<td>192.168.3.50</td>
			<td>O baguiiu vais er muito loko ta ligado?</td>
		</tr>
		<tr>
			<td>Willams Felix da Cruz</td>
			<td>br.com.cers.services.ejb.import.Product.java (134)</td>
			<td>192.168.3.50</td>
			<td>O baguiiu vais er muito loko ta ligado?</td>
		</tr>
		<tr>
			<td>Willams Felix da Cruz</td>
			<td>br.com.cers.services.ejb.import.Product.java (134)</td>
			<td>192.168.3.50</td>
			<td>O baguiiu vais er muito loko ta ligado?</td>
		</tr>
		<tr>
			<td>Willams Felix da Cruz</td>
			<td>br.com.cers.services.ejb.import.Product.java (134)</td>
			<td>192.168.3.50</td>
			<td>O baguiiu vais er muito loko ta ligado?</td>
		</tr>
		<tr>
			<td>Willams Felix da Cruz</td>
			<td>br.com.cers.services.ejb.import.Product.java (134)</td>
			<td>192.168.3.50</td>
			<td>O baguiiu vais er muito loko ta ligado?</td>
		</tr>
	</tbody>
</table>
